<div id="<%= dom_id comment %>">
  <p>
    <strong>Post:</strong>
    <%= comment.post_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= comment.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= comment.email %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>

</div>
